:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --section-padding: 4rem;
}

/* ------------------ Reset -------------- */
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--white);
  font-size: 1.8rem;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ------------------- Header Section ----------------------- */

.header {
  background-image: url("/images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav__logo {
  color: var(--white);
  font-size: 2.4rem;
}

.nav__menu-icon {
  width: 2.4rem;
}

.hero-section {
  text-align: center;
  padding: var(--section-padding);
}

.hero-section__title {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 3.5rem;
  letter-spacing: 8px;
  margin-bottom: 5rem;
}

.nav__list {
  background-color: var(--white);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 6rem 0;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    top: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: var(--white);
  }

  &.hidden {
    display: none;
  }
}

.nav__link {
  &:link,
  &:visited {
    color: var(--dark-grayish-blue);
  }

  &:hover,
  &:active {
    background-color: var(--yellow);
    text-transform: uppercase;
    color: var(--dark-desaturated-blue);
    padding: 1.8rem 3rem;
    border-radius: 50px;
    font-family: "Fraunces", serif;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    outline: none;
  }
}

/* ------------------- Features Section -------------------- */

.feature {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.feature__image {
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.feature__content {
  grid-row: 2 / 3;
  text-align: center;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.feature__title {
  font-size: 3rem;
  font-family: "Fraunces", serif;
  color: var(--dark-desaturated-blue);
}

.feature__description {
  font-family: "Barlow", sans-serif;
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.feature__link {
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: var(--dark-desaturated-blue);

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 114%;
    height: 10px;
    border-radius: 50px;
    left: -7%;
    bottom: -3px;
    z-index: -1;
  }
}

.feature:nth-child(1) .feature__link::before {
  background-color: rgba(255, 255, 0, 0.25);
}
.feature:nth-child(2) .feature__link::before {
  background-color: rgba(255, 0, 0, 0.15);
}

/* ------------------- Services Section -------------------- */

.section-services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.service {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 130vw;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  padding: var(--section-padding);
}

.service__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.service--design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  color: var(--dark-desaturated-cyan);
}

.service--photography {
  background-image: url("../images/mobile/image-photography.jpg");
  color: var(--dark-blue);
}

.service__title {
  text-transform: capitalize;
  font-family: "Fraunces", serif;
}

.service__description {
  line-height: 1.6;
}

/* ------------------- Testimonials Section -------------------- */

.section-testimonials {
  text-align: center;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6rem;
}

.section-testimonials__title {
  font-family: "Fraunces", serif;
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 5px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.testimonial__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.testimonial__text {
  line-height: 1.6;
  font-weight: bold;
  color: var(--very-dark-grayish-blue);
}

.testimonial__author {
  font-family: "Fraunces", serif;
  color: var(--dark-desaturated-blue);
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.testimonial__job-title {
  color: var(--grayish-blue);
  font-size: 1.4rem;
}

/* ------------------- Gallery Section -------------------- */

.section-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__image {
  display: block;
  width: 100%;
}

/* ------------------- Footer Section -------------------- */

.footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #61a699;
  text-align: center;
  padding: var(--section-padding);
  color: var(--dark-desaturated-cyan);
}

.footer__title {
  letter-spacing: -1px;
}

.footer__nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.6rem;
}

.footer__nav__link {
  &:link,
  &:visited {
    color: var(--dark-desaturated-cyan);
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.socials__icon {
  width: 24px;
  fill: var(--dark-desaturated-cyan);
}

/* ===================== Media Queries ======================= */

@media (min-width: 480px) {
  :root {
    --section-padding: 6rem;
  }
}

/* =========================================================== */

@media (min-width: 600px) {
  :root {
    --section-padding: 4rem;
  }

  html {
    font-size: 55%;
  }

  .header {
    height: 70vh;
  }

  /* ------------------ Header Section -------------------- */
  .header {
    background-image: url("/images/desktop/image-header.jpg");
    justify-content: start;
    gap: 8rem;
    min-height: 60vh;
  }

  .nav {
    position: static;
    padding: 2rem;
  }

  .nav__menu-icon {
    display: none;
  }

  .nav__list {
    background-color: transparent;
    position: static;
    top: initial;
    left: initial;
    right: initial;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    &::before {
      display: none;
    }

    &.hidden {
      display: flex;
    }
  }

  .nav__link {
    &:link,
    &:visited {
      display: inline-block;
      width: 95px;
      text-align: center;
      font-size: 1.4rem;
      color: var(--white);
      font-weight: normal;
      padding: 0.5rem;
    }

    &:hover {
      background-color: var(--white);
      text-transform: uppercase;
      color: var(--dark-desaturated-blue);
      padding: 0.5rem 1rem;
      font-family: "Fraunces", serif;
      font-size: 1.2rem;
      font-weight: normal;
    }

    &:active {
      background-color: rgba(165, 227, 252, 0.6);
      color: var(--white);
    }
  }

  /* ------------------- Features Section -------------------- */

  .feature {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .image__container {
    grid-column: 2 / 3;
    grid-row-start: 1;
  }

  .feature__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feature__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    padding: var(--section-padding);
    align-items: start;
    gap: 4rem;
  }

  .feature:nth-child(2) {
    .image__container {
      grid-column: 1 / 2;
    }

    .feature__content {
      grid-column: 2 / 3;
    }

    .feature__link:hover::before {
      background-color: rgba(255, 255, 0, 0.7);
    }
  }

  .feature:nth-child(2) {
    .feature__link:hover::before {
      background-color: rgba(255, 0, 0, 0.5);
    }
  }

  /* ------------------- Services Section -------------------- */

  .section-services {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }

  .service {
    height: 60rem;
  }

  .service__content {
    height: 40%;
  }

  .service--design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .service--photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }

  /* ------------------- Testimonials Section -------------------- */

  .section-testimonials {
    padding: var(--section-padding);
    gap: 4rem;
  }

  .testimonials-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .testimonial__text {
    font-size: 1.4rem;
  }

  /* ------------------- Gallery Section -------------------- */

  .section-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* =========================================================== */

@media (min-width: 900px) {
  :root {
    --section-padding: 7rem;
  }

  html {
    font-size: 65%;
  }

  .header {
    gap: 1rem;
    height: 70vh;
  }

  .service {
    height: 50rem;
  }
}

/* =========================================================== */

@media (min-width: 1024px) {
  :root {
    --section-padding: 8rem;
  }

  .hero-section__title {
    font-size: 5rem;
  }

  .header {
    min-height: 100vh;
    gap: 14rem;
  }

  .nav__logo:hover {
    color: var(--soft-red);
  }

  .service {
    height: 60rem;
  }

  .service__content {
    height: 40%;
  }

  .testimonial__text {
    font-size: 1.6rem;
  }

  .footer__nav__link {
    &:hover,
    &:active {
      color: var(--white);
    }
  }
  .socials__icon:hover {
    cursor: pointer;
    fill: var(--white);
  }
}

/* =========================================================== */

@media (min-width: 1140px) {
  html {
    font-size: 75%;
  }

  .header {
    gap: 8rem;
  }

  .nav__link {
    &:link,
    &:visited {
      width: 100px;
    }
  }
}
